==
<div class="flexslider">
    <ul class="slides">
        <li>
            <div class="slider-caption">
                <h1>Apa itu Citratus ?</h1>
                <p>Disinfektan bakar dibuat dari bahan-bahan alami beraroma menyegarkan <br>untuk membantu mencegah berkembangnya Virus dan Bakteri (COVID-19) serta nyamuk <br>dan serangga pada ruangan anda serta memberikan efek segar alami <br>yang menyenangkan dan tidak menyebabkan sesak nafas .</p>
            </div>
        <img src="{{ 'assets/images/background_slide.png'|theme }}" alt="" />
        </li>
    </ul>
</div>